body {
    z-index: -1;
}

.scroll-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    cursor: pointer;
    animation: bounce 2s infinite;
}

.top {
    margin-bottom: 20px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid rgb(255, 255, 255); 
    margin: 10px 0; 
}

.scroll-arrow p {
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: bold;
}


.aboutContainer {   
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 0;
}

.flex-item {
    opacity: 0; 
    margin-top: 25px;
    margin-bottom: 80px;
    display: flex;
    max-width: 600px;
    min-width: 360px;
    transition: opacity 0.6s ease-out;
}

.textP{
    margin: 0px 20px 20px 20px;
}

.pictureContainer {
    display: flex;
    margin: 10px;
    justify-content: center;
}
.textcontainer {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.picture {
    border-radius: 10px;
    max-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.icon {
    border-radius: 10px;
    margin: 15px;
    width:20%;
    height: 20%;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
.flex-item.fade-in {
    opacity: 1;
}

.hidden {
    display: block; 
    opacity: 0;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}