.mainContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
.contactContainer {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 350px;
    align-content: center;
    margin-top: 10%;
    margin-bottom: 20%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
.contactInfoContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(62, 62, 69);
    border-radius: 10px 0px 0px 10px;
}
.contactFormContainer {
    display: flex;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
}
h2 {
    text-align: center;
    color: white;
    text-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border: none;
}
p {
    text-align: center;
    padding-top: 20px;
    color: white;
    text-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
.iconsContainer {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
}
.iconBox {
    height: 30px;
    margin: 10px;
    margin-top: 90px;
}
.icons {
    width: 30px;
    height: auto;
}
form {
    background-color: white;
    padding: 10px 20px;
    max-width: 400px;
    width: 100%;
  } 
  
  input, textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    transition: border 0.3s ease;
    box-sizing: border-box;
  }

  
  input:focus, textarea:focus {
    border-color: #007bff; 
    outline: none;
  }
  
  textarea {
    resize: vertical; 
    height: 120px;
    resize: none;
  }
  
  button {
    background-color: #3b4550; 
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #607183;
  }
  

  @media (max-width: 500px) {
    form {
      padding: 15px 20px;
    }
 } 