* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: rgb(252, 253, 255);
    overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



